.pagination {
    display: flex;
    justify-content: center; /* Center pagination horizontally */
    margin-top: 20px;

    .page-link {
        border: none;
        background-color: transparent;
        color: $dark_blue;

        &:hover {
            background-color: transparent;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .page-item.active .page-link {
        background-color: #e94793;
        border-color: #e94793;
        color: #fff;
    }
}