// Define custom colors
// $pink: #ff69b4;
// $dark_red: #d13038;
// $light_red:#f3514e;
// $very_light_red:#ffc8bf;
// $very_dark_blue:#012a3e;
// $dark_blue:#010a35;
// $light_blue: #252c62;
// $baby_blue: #74c2f2;
// $very_light_blue:#e5eeff;
// $dark_green:#237988;
// $light_green:#3ba1a3;
// $dark_orange: #fea94f;
// $light_orange: #ffc271;
// $very_light_grey:#f8f9fa;
// $dark_pink: #e94793;


/* Global styles */
body {
  font-family: 'Comic Sans MS', cursive;
  color: #012a3e;
  overflow-x: hidden;
}