/*  ClickableTable List */
.col-name {
    width: 70%;
    cursor: pointer;
  }
  
  .col-attending {
    width: 30%;
    cursor: pointer;
  }

  .event-link {
    color: black;
    text-decoration: none;
  }
  
  .icon-link {
    color: rgb(81, 81, 81);
  }