/* Card */
.card {
    width: calc(50% - 40px);
    /* Adjust width to occupy 50% of container minus margins */
    height: 400px;
    /* Set initial height */
    margin: 20px;
    border: none;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add shadow */
    transition: box-shadow 0.3s ease;
    /* Add transition for hover effect */
    display: flex;
    /* Use Flexbox */
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Enhance shadow on hover */
  }
  
  .card-image {
    width: 100%;
    height: 70%;
    /* Occupy 70% of card's height */
    object-fit: cover;
  }
  
  .card-text {
    background-color: #f8f9fa;
    /* Set background color */
    border: none;
    width: 100%;
    height: 30%;
    /* Occupy 30% of card's height */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    /* Use Flexbox */
    flex-direction: column;
    /* Arrange items vertically */
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
  }
  
  .card-title {
    margin-bottom: 10px;
    color: #012a3e;
    font-size: 18px;
  }
  
  .card-info {
    color: #000;
    /* Set text color */
    display: flex;
    /* Use Flexbox */
    flex-direction: row;
    /* Arrange items horizontally */
    align-items: center;
    /* Center content vertically */
    justify-content: space-around;
    margin-top: 10px;
    /* Add margin for spacing */
  }
  
  .card-info>div {
    margin-bottom: 5px;
  }
  
  .card-info-number {
    font-size: 14px;
  }
  
  .card-info-text {
    font-size: 10px;
  }
  
  @media (max-width: 1200px) {
    .card {
      width: calc(100% - 40px);
      /* Adjust width to occupy full container minus margins */
      margin-bottom: 20px;
      /* Add margin between cards */
    }
  }
  
  @media (max-width: 576px) {
    .card {
      width: calc(100% - 40px);
      /* Adjust width to occupy full container minus margins */
      margin-bottom: 20px;
      /* Add margin between cards */
    }
  }
  
  /* DetailCard */
  .guest-card {
    width: 100%;
    transition: transform 0.3s ease;
  }
  
  .guest-card:hover {
    transform: scale(1.05);
  }
  