// ListItem

.list-item-link {
    text-decoration: none;
    color: "dark";
  }
  
  .item-image-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-link {
    text-decoration: none;
    color: $very_dark_blue;
  }
  
  .item-edit-link {
    margin-right: 4px; 
  }
  
  .table tr {
    border-bottom: 10px solid $very_light_grey;
  }