/* List Item Link */
.list-item-link {
  text-decoration: none;
  color: dark;
}

/* Item Image Container */
.item-image-container {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

/* Item Image */
.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Item Link */
.item-link {
  text-decoration: none;
  color: #012a3e; 
}

/* Item Edit Link */
.item-edit-link {
  margin-right: 4px;
}

/* Table Row */
.table tr {
  border-bottom: 10px solid #f8f9fa; 
}
