.navbar {
  background-color: #f8f9fa; 
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  height: 70px;
}

/* Scrolled state */
.navbar.scrolled {
  background-color: #ffffff; /* Change background color when scrolled */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-brand a {
  color: #252c62; 
  text-decoration: none;
}

.logo {
  width: 100px;
}

.navbar-toggler {
  display: none; /* Hide by default */
  background: none;
  border: none !important;
  cursor: pointer;
  padding: 0;
}

.navbar-toggler.open {
  border-style: none !important;
}

.navbar-toggler:focus:not(:focus-visible) {
  outline: none; /* Remove outline on focus */
}

.navbar-toggler span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #252c62; /* Set hamburger button color */
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

/* Open state for mobile */
.navbar-toggler.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler.open span:nth-child(2) {
  opacity: 0; /* Hide middle line */
}

.navbar-toggler.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 15px;
}

.navbar-links a {
  color: #252c62; 
  text-decoration: none;
}

.navbar-links button {
  color: #000;
  background-color: #f3514e; 
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Mobile navigation */
@media (max-width: 768px) {
 
  .navbar-toggler {
    display: block; /* Show for smaller devices */
  }

  .navbar-links {
    display: none; /* Hide links by default */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Assuming $very_light_grey is #f8f9fa */
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.open {
    display: flex; /* Show links when mobile navigation is open */
    flex-direction: column;
  }

  .navbar-links ul {
    width: 100%;
  }

  .navbar-links li {
    margin: 10px 0; /* Add margin between links */
  }

  .navbar-links a,
  .navbar-links button {
    margin-right: 10px;
    width: 100%;
    text-align: center;
  }
}
.icon-logout-menu span {
  margin-left: 5px; /* Add space between icon and text */
}

.img-logo {
  height: 50px;
  width: auto;
  position: absolute;
  top: 7px;
}