// Menubar
.collapsed-menu-bar {
    width: 7%;
    /* Adjusted width for the collapsed menu */
    min-width: 70px;
    /* Minimum width to prevent it from collapsing too much */
    height: 100vh;
    background-color: #010a35;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: width 0.3s ease;
    z-index: 1008;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    .expand-button {
      color: white;
      margin-top: 10px;
      margin-bottom: 100px;
      cursor: pointer;
    }
  
    .menu-section {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      a {
        color: #e5eeff;
        text-decoration: none;
        margin-bottom: 10px;
  
        &:hover {
          color: #74c2f2;
        }
      }
    }
  }
  
  .expanded-menu-bar {
    width: 15%;
    /* Adjusted width for the expanded menu */
    min-width: 230px;
    /* Minimum width to prevent it from collapsing too much */
    background-color: rgba(229, 238, 255, 0.95);
    color: #010a35;
    padding-top: 122px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1005;
    opacity: 0.95;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    .menu-section {
      margin-top: 67px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      a {
        color: inherit;
        text-decoration: none;
        margin-bottom: 10px;
  
        &:hover {
          color: #74c2f2;
        }
      }
    }
  }
  
  // Responsive adjustments
  @media (max-width: 768px) {
    .collapsed-menu-bar {
      width: 20%;
      /* Adjusted width for smaller screens */
    }
  
    .expanded-menu-bar {
      width: 30%;
      /* Adjusted width for smaller screens */
    }
  
    .Content {
      margin-left: 20%;
      /* Adjusted margin for smaller screens */
    }
  }
  
  @media (max-width: 576px) {
    .collapsed-menu-bar {
      width: 30%;
      /* Further adjusted width for even smaller screens */
    }
  
    .expanded-menu-bar {
      width: 40%;
      /* Further adjusted width for even smaller screens */
    }
  
    .Content {
      margin-left: 30%;
      /* Further adjusted margin for even smaller screens */
    }
  }