@media (max-width: 768px) {
  .collapsible-menu {
    width: 15%; /* Increased width for smaller screens */
  }

  .Content {
    margin-left: 15%; /* Adjusted margin for smaller screens */
  }
}

@media (max-width: 576px) {
  .collapsible-menu {
    width: 20%; /* Further increased width for even smaller screens */
  }

  .Content {
    margin-left: 20%; /* Further adjusted margin for even smaller screens */
  }
}

/* Collapsible Menu */
.collapsible-menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 5%;
  height: 100vh;
  background-color: #010a35;
  transition: width 0.3s;
  z-index: 99998;
}

.collapsible-menu.expanded {
  width: 200px;
  opacity: 0.95;
}

/* Menu Toggle */
.menu-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

/* Menu Content */
.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* Icon Link Menu */
.icon-link-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 50px;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.icon-link-menu:hover {
  background-color: #ff69b4; 
}

/* Active */
.active {
  background-color: #ff69b4; 
}

/* Text Menu */
.text-menu {
  margin-left: 10px;
}

.btn-logout {
  background-color: var(--dark_red);
}

/* Apply styles to the icon-logout-menu button */
.icon-logout-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 50px;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

/* Add hover effect */
.icon-logout-menu:hover {
  background-color: rgba(255, 255, 255, 0.1);
  
}
