/* Define custom colors */
:root {
  --pink: #ff69b4;
  --dark_red: #d13038;
  --light_red: #f3514e;
  --very_light_red: #ffc8bf;
  --very_dark_blue: #012a3e;
  --dark_blue: #010a35;
  --light_blue: #252c62;
  --baby_blue: #74c2f2;
  --very_light_blue: #e5eeff;
  --dark_green: #237988;
  --light_green: #3ba1a3;
  --dark_orange: #fea94f;
  --light_orange: #ffc271;
  --very_light_grey: #f8f9fa;
  --dark_pink: #e94793;
}

/* Override Bootstrap's colors with custom colors */
:root {
  --primary: var(--light_blue);
  --secondary: var(--dark_pink);
  --success: var(--light_green);
  --info: var(--light_orange);
  --warning: var(--dark_orange);
  --danger: var(--dark_red);
  --light: var(--very_light_grey);
  --dark: var(--very_dark_blue);
  --baby-blue: var(--baby_blue);
  --very-light-blue: var(--very_light_blue);
  --very-light-grey: var(--very_light_grey);
}

/* Global styles */
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: var(--dark);
  overflow-x: hidden;
}

.checkbox-custom:checked {
  background-color: var(--dark_blue);
}

.icon-link.active {
  color: var(--dark_pink) !important;
}

.nav-link {
  color: var(--dark_blue);
}

.text-pink {
  color: var(--dark_pink);
}

/* All pages */
.App {
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
  margin-left: 5%;
}

/* Delete Modal */
.custom-modal-dialog {
  margin-top: 300px;
}

/* Homepage */
.img-logo {
  height: 50px;
  width: auto;
  position: absolute;
  top: 0;
}

.home-page {
  height: 90vh;
}

.content {
  text-align: center;
}

.hero-section {
  position: relative;
  background-color: var(--very_light_grey);
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.hero-hello {
  font-family: 'Comic Sans MS', cursive;
  color: var(--very_dark_blue);
}

/* Sections */
.section {
  min-height: 75vh;
  flex-grow: 1;
}

.bg-baby-blue {
  background-color: var(--baby_blue);
  ;
}

.bg-very-light-grey {
  background-color: var(--very_light_grey);
}

.left-content {
  padding: 20px;
}

.btn-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media queries for smaller devices */
@media (max-width: 768px) {
  .Content {
    margin-left: 5%;
  }

  .section {
    height: auto;
    min-height: 70vh;
  }

  .col-md-6 {
    flex: 0 0 100%;
  }

  .left-content {
    padding: 20px;
    text-align: center;
  }

  .section-image {
    max-width: 100%;
    height: auto;
  }

  .hero-hello {
    font-size: 1.5rem;
  }
}

/* Login page */
.alert-custom {
  top: 18vh;
  transform: translateY(-50%);
}

/* EventDetails GuestDetails Pages */
.custom-btn {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 150px;
}

.custom-btn-text {
  text-decoration: none;
}

/* PageHeader */
.header {
  margin-top: 100px;
}

/* PageDetailsHeader */
.custom-img-details {
  width: 100%;
}

.container-wrapper {
  margin-top: 8rem;
}

.custom-img-details {
  width: auto;
  max-height: 20vw;
}

.custom-img {
  width: 15vh;
  max-height: auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding-bottom: 100px;
  background-color: var(--very_light_grey);
}

.pointer {
  cursor: pointer;
}