// Define custom colors
$pink: #ff69b4;
$dark_red: #d13038;
$light_red:#f3514e;
$very_light_red:#ffc8bf;
$very_dark_blue:#012a3e;
$dark_blue:#010a35;
$light_blue: #252c62;
$baby_blue: #74c2f2;
$very_light_blue:#e5eeff;
$dark_green:#237988;
$light_green:#3ba1a3;
$dark_orange: #fea94f;
$light_orange: #ffc271;
$very_light_grey:#f8f9fa;
$dark_pink: #e94793;

// Override Bootstrap's  colors with your custom color

$theme-colors: ("primary": $light_blue,
  "secondary": $dark_pink,
  "success": $light_green,
  "info": $light_orange,
  "warning": $dark_orange,
  "danger": $dark_red,
  "light": $very_light_grey,
  "dark": $very_dark_blue,
  "baby-blue":$baby_blue,
  "very-light-blue":$very_light_blue,
  "very-light-grey":$very_light_grey,
);

// Import Bootstrap SCSS
@import "../node_modules/bootstrap/scss/bootstrap";

/* Global styles */
body {
  font-family: 'Comic Sans MS', cursive;
  color: "dark";
  overflow-x: hidden;
}


.icon-link.active {
  color: $dark_pink !important; 
}

/* Homepage*/
.home-page {
  height: 90vh;
}

.section {
  min-height: 75vh;
}

.content {
  text-align: center;
}

.hero-section {
  position: relative;
  background-color: #f8f9fa;
}

.hero-content {
  position: relative;
  z-index: 1;
  /* Ensure the content is above the background */
  padding: 20px;

}

.hero-hello {
  font-family: 'Comic Sans MS', cursive;
  color: $very_dark_blue;
}

.button-group {
  display: flex;
  justify-content: center
}

.btn-spacing {
  margin-right: 10px;
  /* Adjust as needed */
}


/* Sections */

.left-content {
  padding: 20px;
}

/*  media queries for smaller devices */

@media (max-width: 768px) {
  .section {
    height: auto;
    /* Remove fixed height */
    min-height: 70vh;
    /* Set minimum height */
  }

  .col-md-6 {
    flex: 0 0 100%;
    /* Make columns full width on smaller devices */
  }

  .left-content {
    padding: 20px;
    text-align: center;
    /* Center align text */
  }

  .section-image {
    max-width: 100%;
    /* Make images responsive */
    height: auto;
  }

  .hero-hello {
    font-size: 1.5rem;
    /* Adjust font size */
  }
}


/* Navigation Bar */
.navbar {
  background-color: $very_light_grey;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  /* Ensure it's above other content */
}

/* Scrolled state */
.navbar.scrolled {
  background-color: #ffffff;
  /* Change background color when scrolled */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* Add subtle shadow effect */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-brand a {
  color: $very_dark_blue;
  text-decoration: none;
}

.logo {
  width: 100px;
}

.navbar-toggler {
  display: none;
  /* Hide by default */
  background: none;
  border: none !important;
  ;
  cursor: pointer;
  padding: 0;
}

.navbar-toggler.open {
  border-style: none !important;
  ;
}

.navbar-toggler:focus:not(:focus-visible) {
  outline: none;
  /* Remove outline on focus */
}

.navbar-toggler span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: $very_dark_blue;
  /* Set hamburger button color */
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

/* Open state for mobile */
.navbar-toggler.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler.open span:nth-child(2) {
  opacity: 0;
  /* Hide middle line */
}

.navbar-toggler.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 15px;
}

.navbar-links a {
  color: $very_dark_blue;
  text-decoration: none;
}

.navbar-links button {
  color: #000;
  /* Set button text color */
  background-color: $light_red;
  /* Set button background color */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Mobile navigation */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
    /* Show for smaller devices */
  }

  .navbar-links {
    display: none;
    /* Hide links by default */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $very_light_grey;
    /* Set background color */
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Add shadow */
  }

  .navbar-links.open {
    display: flex;
    /* Show links when mobile navigation is open */
    flex-direction: column;
    /* Stack links vertically */
  }

  .navbar-links ul {
    width: 100%;
  }

  .navbar-links li {
    margin: 10px 0;
    /* Add margin between links */
  }

  .navbar-links a,
  .navbar-links button {
    margin-right: 10px;
    width: 100%;
    text-align: center;
    /* Center align text */
  }
}

/* ---------------------- */




// All pages
.App {
  display: flex;
  flex-direction: column;
}

.Content {
  flex: 1;
  /* Allow content to take up remaining space */
  margin-left: 7%;
  /* Adjusted to account for the width of the collapsed menu */
}

// Menubar
.collapsed-menu-bar {
  width: 7%;
  /* Adjusted width for the collapsed menu */
  min-width: 70px;
  /* Minimum width to prevent it from collapsing too much */
  height: 100vh;
  background-color: #010a35;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: width 0.3s ease;
  z-index: 1008;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Add box shadow */

  .expand-button {
    color: white;
    margin-top: 10px;
    margin-bottom: 100px;
    cursor: pointer;
  }

  .menu-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: #e5eeff;
      text-decoration: none;
      margin-bottom: 10px;

      &:hover {
        color: #74c2f2;
      }
    }
  }
}

.expanded-menu-bar {
  width: 15%;
  /* Adjusted width for the expanded menu */
  min-width: 230px;
  /* Minimum width to prevent it from collapsing too much */
  // background-color: #e5eeff;
  background-color: rgba(229, 238, 255, 0.95);
  color: #010a35;
  padding-top: 122px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1005;
  opacity: 0.95;
  /* Set opacity to 95% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Add box shadow */

  .menu-section {
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: inherit;
      text-decoration: none;
      margin-bottom: 10px;

      &:hover {
        color: #74c2f2;
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .collapsed-menu-bar {
    width: 20%;
    /* Adjusted width for smaller screens */
  }

  .expanded-menu-bar {
    width: 30%;
    /* Adjusted width for smaller screens */
  }

  .Content {
    margin-left: 20%;
    /* Adjusted margin for smaller screens */
  }
}

@media (max-width: 576px) {
  .collapsed-menu-bar {
    width: 30%;
    /* Further adjusted width for even smaller screens */
  }

  .expanded-menu-bar {
    width: 40%;
    /* Further adjusted width for even smaller screens */
  }

  .Content {
    margin-left: 30%;
    /* Further adjusted margin for even smaller screens */
  }
}


// Card 

.card {
  width: calc(50% - 40px);
  /* Adjust width to occupy 50% of container minus margins */
  height: 400px;
  /* Set initial height */
  margin: 20px;
  border: none;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add shadow */
  transition: box-shadow 0.3s ease;
  /* Add transition for hover effect */
  display: flex;
  /* Use Flexbox */
  flex-direction: column;
  /* Arrange items vertically */
  align-items: center;
  background-color: #f8f9fa;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Enhance shadow on hover */
}

.card-image {
  width: 100%;
  height: 70%;
  /* Occupy 70% of card's height */
  object-fit: cover;
}

.card-text {
  background-color: #f8f9fa;
  /* Set background color */
  border: none;
  width: 100%;
  height: 30%;
  /* Occupy 30% of card's height */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  /* Use Flexbox */
  flex-direction: column;
  /* Arrange items vertically */
  justify-content: center;
  /* Center content vertically */
  align-items: center;
  /* Center content horizontally */
}

.card-title {
  margin-bottom: 10px;
  color: $very_dark_blue;
  font-size: 18px;
}

.card-info {
  color: #000;
  /* Set text color */
  display: flex;
  /* Use Flexbox */
  flex-direction: row;
  /* Arrange items horizontally */
  // justify-content: space-between; /* Add space between items */
  align-items: center;
  /* Center content vertically */
  justify-content: space-around;
  margin-top: 10px;
  /* Add margin for spacing */
}

.card-info>div {
  margin-bottom: 5px;
}

.card-info-number {
  font-size: 14px;
}

.card-info-text {
  font-size: 10px;
}

@media (max-width: 1200px) {
  .card {
    width: calc(100% - 40px);
    /* Adjust width to occupy full container minus margins */
    margin-bottom: 20px;
    /* Add margin between cards */
  }
}

@media (max-width: 1200px) {
  .card {
    width: 100%;
    /* Set width to occupy full container */
  }
}


/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-radius: 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.btn-success {
  background-color: $light_green;
}

.btn-primary {
  background-color: $light_blue;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary a {
  text-decoration: none !important;
}

/* Remove default focus styling */
.form-control:focus {
  box-shadow: none;
}


.form-control:focus {
  border-bottom-color: $baby_blue;
}


.form-control::placeholder {
  font-size: 0.8rem; 
}

// Login page
.alert-custom {
  top: 18vh;
  transform: translateY(-50%);
}


// Event list

.header{
  margin-top: 100px;
}


// ---------------

// Guest list

.custom-img-details {
  width: auto;
  max-height: 20vw;
}


.custom-img {
  width: 15vh;
  max-height: auto;
}

// DetailCard

.guest-card {
  width: 100%;

  .card-img-top {
      object-fit: cover;
      height: 200px;
  }
}
.guest-card-link {
  text-decoration: none;
}



.custom-select {
  width: 30vw;
}

.custom-container {
  max-width: 100vw;
}

@media (min-width: 576px) {
  .custom-container {
    max-width: 60vw;
  }
}

/* edit Guest */
.image-preview {
  transition: opacity 0.3s ease-in-out;
}

.updated-image {
  opacity: 1;
  /* Full opacity for the updated image */
}

.current-image {
  opacity: 0.5;
  /* opacity for the previous image*/
}

/* lightbox */

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-image {
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;
}

.gallery-container {
  margin-bottom: 1rem;
}

.gallery-image {
  max-width: 100%;
  max-height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.guest-card {
  transition: transform 0.3s ease;
}

.guest-card:hover {
  transform: scale(1.05);
}


/* Event List */
.event-link {
  color: black;
  text-decoration: none;
}

.icon-link {
  color: rgb(81, 81, 81);
}


/*  ClickableTable List */
.col-name {
  width: 70%;
  cursor: pointer;
}

.col-attending {
  width: 30%;
  cursor: pointer;
}


/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  // background-color: #f8f9fa;
  // color: #6c757d; 
  background-color: $dark_green;
  color: $very_light_grey;
  text-align: center;
  padding-top: 20px;
}


.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons i {
  font-size: 24px;
  margin: 0 10px;
}


