.event-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    flex-grow: 1;
  }

  .event-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure container fills available height */
  }

  .event-form {
    flex-grow: 1; /* Allow form to grow to fill remaining space */
  }
  
  .main-image-preview {
    max-width: 100%;
    height: auto;
  }
  
  .description-textarea {
    max-width: 100%; // Ensure textarea fits within its column
    width: 100%; // Adjust width to fill the column
  }

// Main Image Preview 

.main-image-container {
  position: relative;
  display: inline-block;
  }
  
  .main-image {
  max-width: 200px;
  height: auto;
  }
  
  .delete-button-main-image{
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
